<!DOCTYPE html>
<html lang="en">
<head>
    <title>Memix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="30">
</head>
<body>
<h1>!Memix!</h1>
<p>Welcome to the Memix Neo!
    <br>You take the blue pill, the story ends. You wake up in your bed and believe whatever you want to.
    <br>You take the red pill, you stay in Wonderland and I show you how deep the rabbit hole goes.
    <br>Remember, all I'm offering are memes. Nothing more.
    <br><br>Next one will appear in 30 seconds</p>
<p><img  src="{{meme}}"></p>
<p>Current subreddit: {{subreddit}}</p>
</body>
</html>